<p jhiTranslate="membreManagement.id">{{title}}</p>
<div>
  <div class="d-flex justify-content-center">
    <div class="col-md-8">
      <h1 jhiTranslate="register.title" data-cy="registerTitle">التسجيل</h1>

      <div class="alert alert-success" *ngIf="success" jhiTranslate="register.messages.success">
        <strong>تم التسجيل!</strong> يرجى التحقق من بريدك الالكتروني للحصول على تأكيد.
      </div>

      <div class="alert alert-danger" *ngIf="error" jhiTranslate="register.messages.error.fail">
        <strong>فشل في التسجيل!</strong> الرجاء إعادة المحاولة في وقت لاحق.
      </div>
    </div>
  </div>
 <div class="table-responsive" >
    <form (ngSubmit)="registre" [formGroup]="membreregisterForm" >
        <table>
            <tr>
            <td jhiTranslate="membreManagement.id"><label for="lastName">اسم العائلي بالفرنسي</label></td><td>
              <input type="text" id ="lastName" formControlName="lastName"> </td>
            </tr>
            <tr>
              <td jhiTranslate="membreManagement.id"><label for="firstName">اسم بالفرنسي</label></td><td>
                <input type="text" id ="firstName" formControlName="firstName"> </td>
            </tr>
            <tr>
                <td jhiTranslate="membreManagement.id"><label for="surnom">اسم كامل بالعربي</label></td><td>
                  <input type="text" id ="surnom" formControlName ="surnom"> </td>
            </tr>
            <tr>
              <td jhiTranslate="membreManagement.id"><label for="dateregistre">تاريخ التسجيل</label></td><td>
                <input type="text" id ="dateregistre" formControlName="dateregistre"> </td>
            </tr>
            <tr>
              <td jhiTranslate="membreManagement.id"><label for="phonenumber">رقم التلفون</label></td><td>
                <input type="text" id ="phonenumber" formControlName="phonenumber"> </td>
            </tr>
            <tr>
              <td jhiTranslate="membreManagement.id"><label for="email">البريدالكتروني</label></td><td>
                <input type="text" id ="email" formControlName="email"> </td>
            </tr>
            <tr>
              <td jhiTranslate="membreManagement.id"><label for="adresse">العنوان</label></td><td>
                <input type="text" id ="adresse" formControlName="adresse"> </td>
            </tr>
            <tr>
              <td jhiTranslate="membreManagement.id"><label for="etat">الحالة</label></td><td>
                <input type="text" id ="etat" formControlName="etat"> </td>
            </tr>
            <tr><button type="submit" class="btn btn-primary">سجل</button></tr>
    </table>
    
  </form>
  <div>
    <div *ngIf="membreregisterForm.get('lastName')!.invalid && (membreregisterForm.get('lastName')!.dirty || membreregisterForm.get('lastName')!.touched)">
      <small
        class="form-text text-danger"
        *ngIf="membreregisterForm.get('lastName')?.errors?.required"
        jhiTranslate="register.messages.validate.login.required"
      >
        اسم المستخدم الخاصة بك مطلوب.
      </small>

      <small
        class="form-text text-danger"
        *ngIf="membreregisterForm.get('lastName')?.errors?.minlength"
        jhiTranslate="register.messages.validate.login.minlength"
      >
        اسم المستخدم الخاصة بك مطلوب ليكون على الأقل 1 حرف.
      </small>

      <small
        class="form-text text-danger"
        *ngIf="membreregisterForm.get('lastName')?.errors?.maxlength"
        jhiTranslate="register.messages.validate.login.maxlength"
      >
        اسم المستخدم الخاصة بك لا يمكن أن يكون أطول من 50 حرفا.
      </small>

    </div>

    <span>{{membreregisterForm.value.lastName}}</span>

  </div>
</div>
</div>


