<p>membre-list works!</p>

<div class="table-responsive" *ngIf="membres">
    <table class="table table-striped" aria-describedby="user-management-page-heading">
      <thead>
        <tr >
          <th jhiTranslate="membreManagement.id">رقم العضوية</th>
          <th jhiTranslate="membreManagement.id">Nom</th>
          <th jhiTranslate="membreManagement.id">Prénom</th>
          <th jhiTranslate="membreManagement.surnom">اللقب</th>
          <th jhiTranslate="membreManagement.dateregistre">تاريج التسجيل</th>
          <th jhiTranslate="membreManagement.phoneNumbre">رقم تلفون</th>
          <th jhiTranslate="membreManagement.email">البريدالكتروني</th>
          <th jhiTranslate="membreManagement.adresse">العنوان</th>
          <th jhiTranslate="membreManagement.etat">الحالة</th>
        </tr>
      </thead>
      <tbody *ngIf="membres">
        <tr *ngFor="let membre of membres">
          <td>
            {{membre.membrenumber}}
          </td>
          <td>
            {{membre.firstName}}
          </td>
          <td>
            {{membre.lastName}}
          </td>
          <td>
            {{ membre.surnom }}
          </td>
          <td>
            {{membre.dateregistre}}
          </td>
          <td>
            {{ membre.phonenumber}}
          </td>
          <td>
            {{ membre.email }}
          </td>
          <td>
            {{ membre.adresse }}
          </td>
          <td>
            {{ membre.adresse }}
          </td>
          <td>
            {{ membre.etat }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>